<div class="single-product">
    <div class="product-img">
        <a href="product-details.html">
            <img class="default-img" src="../../../assets/images/imgAngular/{{product.imageUrl}}" alt="#">
        </a>
        <div class="button-head">
            <div class="product-action-2">
                <a title="Add to cart" href="#">Add to cart</a>
                <i class="fas fa-cart-plus ml-2"></i>
            </div>
        </div>
    </div>
    <div class="product-content">
        <h3><a href="product-details.html">{{ product.productName }}</a></h3>
        <div class="product-price">
            <span>{{ product.productPrice }} €</span>
        </div>
    </div>
</div>