<app-header></app-header>

<!-- Slider Area -->
<section class="hero-slider">
  <!-- Single Slider -->
  <div class="single-slider">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-9 col-12">
          <div class="text-inner">
            <div class="row">
              <div class="col-lg-7 col-12">
                <div class="hero-text">
                  <h1 class="mb-1">Eshop </h1>
                  <h1>QuoiDe9</h1>
                  <div class="button">
                    <a href="#" class="btn">Acheter maintenant</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Slider -->
</section>
<!--/ End Slider Area -->

<!-- Start Small Banner  -->
<section class="small-banner section">
  <div class="container-fluid">
    <div class="row">

      <app-content-block-category class="col-lg-4 col-md-6 col-12" *ngFor="let cat of categories | slice:0:2;"
                                  [category]="cat">
      </app-content-block-category>


      <!-- /End Single Banner  -->
      <!-- Single Banner  -->
      <div class="col-lg-4 col-12">
        <div class="single-banner tab-height">
          <img src="../../../assets/images/soldes.jpeg" alt="#">
          <div class="content">
            <p><strong>Nos promos</strong></p>
            <h3>Jusqu'à <span>40%</span></h3>
            <a href="#">Découvrir</a>
          </div>
        </div>
      </div>
      <!-- /End Single Banner  -->
    </div>
  </div>
</section>
<!-- End Small Banner -->

<app-trending-area></app-trending-area>

<!-- Start Midium Banner  -->
<section class="midium-banner">
  <div class="container">
    <div class="row">
      <!-- Single Banner  -->
      <div class="col-lg-6 col-md-6 col-12">
        <div class="single-banner">
          <app-content-block-category [category]="categories[2]"></app-content-block-category>
        </div>
      </div>
      <!-- /End Single Banner  -->
      <!-- Single Banner  -->
      <div class="col-lg-6 col-md-6 col-12">
        <div class="single-banner">
          <app-content-block-category [category]="categories[3]"></app-content-block-category>
        </div>
      </div>
      <!-- /End Single Banner  -->
    </div>
  </div>
</section>
<!-- End Midium Banner -->

<!-- Start Most Popular -->

<app-most-searched-area></app-most-searched-area>

<!-- End Most Popular Area -->

<section class="section free-version-banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 offset-md-2 col-xs-12">
        <div class="section-title mb-60">
          <span class="text-white wow fadeInDown" data-wow-delay=".2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Eshop Free Lite
            version</span>
          <h2 class="text-white wow fadeInUp" data-wow-delay=".4s"
              style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Currently You are using
            free<br> lite Version of Eshop.</h2>
          <p class="text-white wow fadeInUp" data-wow-delay=".6s"
             style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Please, purchase full version
            of the template to get all pages,<br> features and commercial license.</p>

          <div class="button">
            <a href="https://wpthemesgrid.com/downloads/eshop-ecommerce-html5-template/" target="_blank" rel="nofollow"
               class="btn wow fadeInUp" data-wow-delay=".8s">Purchase Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Start Shop Home List  -->
<section class="shop-home-list section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="row">
          <div class="col-12">
            <div class="shop-section-title">
              <h1>On sale</h1>
            </div>
          </div>
        </div>
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image overlay">
                <img src="https://via.placeholder.com/115x140" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h4 class="title"><a href="#">Licity jelly leg flat Sandals</a></h4>
                <p class="price with-discount">$59</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image overlay">
                <img src="https://via.placeholder.com/115x140" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                <p class="price with-discount">$44</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image overlay">
                <img src="https://via.placeholder.com/115x140" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                <p class="price with-discount">$89</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="row">
          <div class="col-12">
            <div class="shop-section-title">
              <h1>Best Seller</h1>
            </div>
          </div>
        </div>
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image overlay">
                <img src="https://via.placeholder.com/115x140" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                <p class="price with-discount">$65</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image overlay">
                <img src="https://via.placeholder.com/115x140" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                <p class="price with-discount">$33</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image overlay">
                <img src="https://via.placeholder.com/115x140" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                <p class="price with-discount">$77</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="row">
          <div class="col-12">
            <div class="shop-section-title">
              <h1>Top viewed</h1>
            </div>
          </div>
        </div>
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image overlay">
                <img src="https://via.placeholder.com/115x140" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                <p class="price with-discount">$22</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image overlay">
                <img src="https://via.placeholder.com/115x140" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                <p class="price with-discount">$35</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
        <!-- Start Single List  -->
        <div class="single-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="list-image overlay">
                <img src="https://via.placeholder.com/115x140" alt="#">
                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 no-padding">
              <div class="content">
                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                <p class="price with-discount">$99</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single List  -->
      </div>
    </div>
  </div>
</section>
<!-- End Shop Home List  -->

<!-- Start Shop Services Area -->
<section class="shop-services section home">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-rocket"></i>
          <h4>Free shiping</h4>
          <p>Orders over $100</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-reload"></i>
          <h4>Free Return</h4>
          <p>Within 30 days returns</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-lock"></i>
          <h4>Sucure Payment</h4>
          <p>100% secure payment</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-tag"></i>
          <h4>Best Peice</h4>
          <p>Guaranteed price</p>
        </div>
        <!-- End Single Service -->
      </div>
    </div>
  </div>
</section>
<!-- End Shop Services Area -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close"
                aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">
        <div class="row no-gutters">
          <div class="col-lg-6 offset-lg-3 col-12">
            <h4
                style="margin-top:100px;font-size:14px; font-weight:500; color:#F7941D; display:block; margin-bottom:5px;">
              Eshop Free Lite</h4>
            <h3 style="font-size:30px;color:#333;">Currently You are using free lite Version of Eshop.</h3>
            <p style="display:block; margin-top:20px; color:#888; font-size:14px; font-weight:400;">Please, purchase
              full version of the template to get all pages, features and commercial license</p>
            <div class="button" style="margin-top:30px;">
              <a href="https://wpthemesgrid.com/downloads/eshop-ecommerce-html5-template/" target="_blank" class="btn"
                 style="color:#fff;">Buy Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

<!-- Start Footer Area -->
<footer class="footer">
  <!-- Footer Top -->
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer about">
            <div class="logo">
              <a href="index.html"><img src="images/logo2.png" alt="#"></a>
            </div>
            <p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, magna eros eu erat.
              Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
            <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Information</h4>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Faq</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Customer Service</h4>
            <ul>
              <li><a href="#">Payment Methods</a></li>
              <li><a href="#">Money-back</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer social">
            <h4>Get In Tuch</h4>
            <!-- Single Widget -->
            <div class="contact">
              <ul>
                <li>NO. 342 - London Oxford Street.</li>
                <li>012 United Kingdom.</li>
                <li>info@eshop.com</li>
                <li>+032 3456 7890</li>
              </ul>
            </div>
            <!-- End Single Widget -->
            <ul>
              <li><a href="#"><i class="ti-facebook"></i></a></li>
              <li><a href="#"><i class="ti-twitter"></i></a></li>
              <li><a href="#"><i class="ti-flickr"></i></a></li>
              <li><a href="#"><i class="ti-instagram"></i></a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Top -->
  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a> - All Rights
                Reserved.</p>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="right">
              <img src="images/payments.png" alt="#">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /End Footer Area -->
<router-outlet></router-outlet>